<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travel App</title>
    </head>

    <body>
        <header>
            <div class="logo">
                <img src="https://image.flaticon.com/icons/svg/1245/1245007.svg">
            </div>
        </header>

        <main>
            <section>
                <form class="">
                    <h2>Traveling to:</h2>
                    <input id="location" type="text" placeholder="Please enter the location!" required>

                    <h2>Traveling Date:</h2>
                    <input id="date" type="date" placeholder="Please enter treaveling date!" required>

                    <button id="search" type = "submit"> Search </button>
                </form>
            <section>

                <section class="result">
                    <strong>That's your perfect destination :</strong><br><br>
                    <strong>Wonderful temperature :</strong><span id="temp"></span>
                    <img src="https://image.flaticon.com/icons/svg/1684/1684375.svg" width=30px> <br>
                    <strong>Enjoy the scene :</strong><br>
                    <img id="pic">                
                </section>
        </main>
        <footer>
            <p>  Travel Application By NOHA NABIL 2020</p><br>
        </footer>    
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>    
    </body>
</html>
