form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.result{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}